<header role="banner">
    <div class="container">
        <h1 id="a-title"><a href="{{ site.baseurl }}/">My knowledge base</a></h1>
        <h2 class="project-tagline">{{ site.description }}</h2>
        <p>Тут собраны заметки по программированию, машинному обучению и алгоритмам, которые автор <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> делал и продолжает делать в процессе обучения. Тысяча извинений за сумбурность записей, орфографию и изрядную долю копипасты. По сути это конспект. Более толковые статьи можно почитать в блоге <a href="https://konstantinklepikov.github.io/">my deep learning</a></p>
    </div>
</header>