<head>

    <meta charset="UTF-8">
    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style"
        type="text/css" crossorigin>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    {% assign user_url = site.url | append: site.baseurl %}
    {% assign full_base_url = user_url | default: site.github.url %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: full_base_url }}">

    {% include head-custom.html %}

</head>