// Pink theme - links on inside pages?

// Color variables
$magenta: #72a316;
$magenta-font: #fff;
$magenta-link: #b5e853;
$black: #010201;
$white: #fff;

// Config
$color-background: $black !default;
$color-dot-accent: $black !default;
$color-foreground: $white !default;
$color-title: $white !default;
$color-body-text: $white !default;
$color-text-accent: $white !default;
$color-code: $black !default;
$color-nav-link: $magenta !default;
$color-primary-link: $magenta !default;

// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities",
        "code",
        "sharing"
;
