/* Gist Custom Syntax Highlighting SCSS
--------------------------------------------- */

body .gist	{
	
	.gist-file	{
		border: none;
		border-bottom: none;
	}
	
	.gist-data {
		background: #293134;
		border-radius: 4px 4px 0 0;
		color: #A0A8B3;
		font-size: 14px;
		line-height: 1.4;
		padding: 16px 16px 0;

		.blob-wrapper {
			max-width: 100%;
			padding-bottom: 16px;
			overflow-x: auto;
			overflow-y: hidden;
		}
		
	}
	
	.highlight {
	    background: #293134;
	    max-width: 800px;
	    overflow-x: scroll;
	    border: none;
	    td, tbody	{
		    border: none;
	    }
	}
	.blob-num,
	.blob-code-inner,
	.pl-ent,
	.pl-s1,
	.pl-s1 .pl-s2,
	.pl-smi,
	.pl-smp,
	.pl-stj,
	.pl-vo,
	.pl-vpf {
	    color: #e0e2e4;
	}
	.pl-c,
	.pl-c span {
	    color: #66747b;
	    font-style: italic;
	}
	.pl-mb {
	    color: #ec7600;
	    font-weight: 700;
	}
	.pl-mh .pl-en {
	    color: #66747b;
	    font-weight: 700;
	}
	.pl-mi {
	    color: #93c763;
	    font-style: italic;
	}
	.pl-sc {
	    color: #96989a;
	}
	.pl-st {
	    color: #da4236;
	}
	.pl-c1>.pl-c1 {
	    color: #678cb1;
	}
	.pl-c1,
	.pl-sr .pl-cce {
	    color: #ffcd22;
	}
	.pl-e,
	.pl-k,
	.pl-mdh,
	.pl-mdr,
	.pl-ml,
	.pl-mm,
	.pl-mo,
	.pl-mp,
	.pl-mr,
	.pl-ms,
	.pl-s1 .pl-v,
	.pl-s3 {
	    color: #93c763;
	}
	
	
	.pl-en,
	.pl-v {
	    color: #678cb1;
	}
	.pl-mh,
	.pl-mq {
	    color: #66747b;
	}
	.pl-pds,
	.pl-s,
	.pl-s1 .pl-pse .pl-s2,
	.pl-sv {
	    color: #ec7600;
	}
	.pl-sr,
	.pl-sr .pl-sra,
	.pl-sr .pl-sre,
	.pl-src {
	    color: #d39745;
	}
	.pl-mi1,
	.pl-mdht {
	    color: #e0e2e4;
	    background: rgba(0, 64, 0, .5);
	}
	.pl-md,
	.pl-mdhf,
	.pl-id,
	.pl-ii {
	    color: #e0e2e4;
	    background: rgba(64, 0, 0, .5);
	}
	
	.gist-meta	{
		background: rgb(24, 23, 23);
		border-radius: 0 0 4px 4px;
		font-size: 14px;
		padding: 6px 16px;		a	{
		color: #c9c9c9;
			&:hover	{
				text-decoration: underline;
			}
		}
	}
}

/* end gist
------------------------------------------------------------ */